
scanner {
    # Extract memory usage information
    file("/proc/meminfo") {
        MemTotal = RegEx("^MemTotal:[\t ]*([0-9]+)[\t ]")
        MemFree = RegEx("^MemFree:[\t ]*([0-9]+)[\t ]")
        MemCache = RegEx( "^Cached:[\t ]*([0-9]+)[\t ]")
        MemBuff = Regex("^Buffers:[\t ]*([0-9]+)[\t ]")
    }

    # Add up total and used swap capacity across all partitions
    file("/proc/swaps") {
        SwapTotal = RegEx("[\t ]([0-9]+)",Sum)
        SwapUsed = RegEx("[\t ][0-9]+[\t ]([0-9]+)",Sum)
    }

    # Add up CPU utilization stats across all CPUs
    file("/proc/stat") {
        CpuUser = RegEx("^cpu [\t ]*([0-9]+)",Sum)
        CpuNice = RegEx("^cpu [\t ]*[0-9]+ ([0-9]+)",Sum)
        CpuSystem = RegEx("^cpu [\t ]*[0-9]+ [0-9]+ ([0-9]+)",Sum)
        CpuIdle = RegEx("^cpu [\t ]*[0-9]+ [0-9]+ [0-9]+ ([0-9]+)",Sum)
    }

    # Get total and remaining battery charge
    file("/sys/class/power_supply/BAT0/charge_full") {
        BatteryTotal = Grab(Sum)
    }
    file("/sys/class/power_supply/BAT0/charge_now") {
        BatteryLeft = Grab(Sum)
    }
}

# Window Placer
placer {
    xorigin = 5  # place the first window at X% from the left
    yorigin = 5  # place the first window at X% from the top
    xstep = 5    # step by X% of desktop horizontally
    ystep = 5    # step by X% of desktop vertically
    children = false
}

# Task Switcher
switcher {
    interval = 700
    icons = true
    labels = false
    cols = 5
}

# Panel layout

layout {
    # add a launcher
    button {
        value = "firefox"
        action = "firefox"
        css = "* { min-height: 0.70cm; min-width: 0.70cm; }"
    }

    button {
        value = "system-file-manager"
        action = "dolphin"
        css = "* { min-height: 0.70cm; min-width: 0.70cm; }"
    }

    button {
        value = "Alacritty"
        action = "alacritty"
        css = "* { min-height: 0.70cm; min-width: 0.70cm; }"
    }

    taskbar {
        rows = 1
        icons = true
        labels = true
        css = "* { min-width: 5.25cm;  }"
    }

    label {
        value = ""
        css = "* { -GtkWidget-hexpand: true; min-width: 0.4cm; min-height: 0.4cm; background-color: transparent; }" # stretch horizontally
    }

    # add a pager
    pager {
        rows = 1
        preview = true
        pins = "1","2","3","4"
    }


    include("weather.widget")

    tray

    grid {

        scale {
            interval = 100
            css = "progressbar progress { background-color: #0000ff; border: none; box-shadow: none; }"
            value = (CpuUser-CpuUser.pval)/(CpuUser+CpuNice+CpuSystem+CpuIdle
                                            -CpuUser.pval-CpuNice.pval-CpuSystem.pval-CpuIdle.pval)
        }
        scale {
            interval = 100
            css = "progressbar progress { background-color: #00ff00; border: none; box-shadow: none; }"
            value= (MemTotal-MemFree-MemCache-MemBuff)/MemTotal
        }
        scale {
            interval = 1000
            css = "progressbar progress { background-color: #ff0000; border: none; box-shadow: none; }"
            value = BatteryLeft/BatteryTotal
        }
    }

    # grid {
        #   style = "frame"
        #   css = "* { -GtkWidget-direction: right; }"

        # label { loc(1,1) }
        # include("cpu-temp.widget")
        # include("lan-bps.widget")
        # label { loc(1,2) }
        # include("mb-temp.widget")
        # include("fan-rpm.widget")
        # }
    include("sound.widget")
    include("clock.widget")
}

#CSS
/* REFERENCE
    main dark      #121212
    focused/active #333333

*/

/* 1. BAR */
window {
    background-color: #121212;
}
/* BAR ICONS AND WIDGETS */
button {
    background: transparent;
    border: none;
    box-shadow: none;
}

/* PROGRAM ICONS */
button#taskbar_normal image, button#taskbar_active image, button#taskbar_normal:hover image {
    min-width: 0.4cm;
    min-height: 0.4cm;
}
/* 2. TASKBAR */
/* TASKBAR LABEL */
button#taskbar_normal label, button#taskbar_active label, button#taskbar_normal:hover label {
    -GtkWidget-vexpand: true;
    padding-left: 0.75mm;
    padding-top: 0px;
    padding-bottom: 0px;
    font: 0.3cm Fira Code;
    color: #ffffff;
    min-width: 4cm;
}

button#taskbar_normal , button#taskbar_active , button#taskbar_normal:hover {
    padding-left: 0.75mm;
    padding-top: 0.5mm;
    padding-bottom: 0.5mm;
    background-image: none;
    border-radius: 0;
    border-image: none;
}

button#taskbar_active {
    background-color: #333333;
}

button:hover {
    background-color: #555555;
    border-radius: 0;
}

button#pager_normal , button#pager_visible , button#pager_focused {
    padding-left: 1.25mm;
    padding-right: 1.25mm;
    padding-top: 0.5mm;
    padding-bottom: 0.5mm;
    background-image: none;
    border-radius: 0;
    border-image: none;
    font: 0.3cm Sans;
}

button#pager_focused {
    background-color: #333333;
}

button#pager_preview {
    background-image: none;
    border-radius: 0;
    border-image: none;
    border-color: #000000;
    border-width: 0.25mm;
    color: #777777;
    min-width: 5cm;
    min-height: 0.4125cm;
}

grid#pager {
    outline-color: #000000;
    outline-style: dashed;
    outline-width: 0.25mm;
}

/* SWITCHER */
grid#switcher_active *, grid#switcher_active, grid#switcher_active * * {
    min-width: 1.25cm;
    min-height: 1.25cm;
    background-color: #bbddff;
    border-image: none;
    border-radius: 0mm;
    padding: 1.25mm;
}

grid#switcher_normal *, grid#switcher_normal {
    min-width: 1.25cm;
    min-height: 0.25cm;
    border-image: none;
    padding: 1.25mm;
}

window#switcher {
    border-style: solid;
    border-width: 0.25mm;
    border-color: #000000;
    border-radius: 1.25mm;
    padding: 1.25mm;
}

grid#switcher {
    border-radius: 1.25mm;
    padding: 1.25mm;
}

image#tray_active, image#tray_passive, image#tray_attention {
    min-width: 0.30cm;
    min-height: 0.30cm;
}

progressbar {
    padding-left: 0.25mm;
    padding-right: 0.25mm;
    -GtkWidget-vexpand: true;
    -GtkWidget-direction: top;
}

progress, trough {
    border-radius: 0;
    border-color: #9c9c9c;
}

progress {
    border-style: outset;
    min-width: 2mm;
}

trough {
    background-color: #a1a1a1;
    border-style: inset;
    min-height: 0.4mm;
    min-width: 1.0mm;
}

grid#frame {
    -GtkWidget-direction: bottom;
    min-width: 2cm;
    border-color: #9c9c9c;
    border-style: groove;
    border-width: 0.5mm;
    padding-top: 0.25mm;
}

grid#layout {
    padding: 0.25mm;
    -GtkWidget-direction: right;
}

label {
    font: 0.27cm Fira Code;
    color: #ffffff;
}

/* TRAY MENU */
menu, menuitem {
    background: #222222;
    border-radius: 0;
}

menuitem:hover {
    background: #333333;
}

menuitem * label {
    color: #cccccc;
}
