[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
autoflake = "*"
epc = "*"
django-stubs = "*"
flake8 = "*"
importmagic = "*"
isort = "<5,>=4.2.5"
mypy = ">=0.770,<0.780"
pylint = "==2.5.3"
python-language-server = "*"

[requires]
python_version = "3.8"
